.gradient-border-mask {
    display: block;
    position: relative;
    max-width: 800px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.gradient-border-mask::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 5px solid transparent;
    background: linear-gradient(140deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0.1) 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    border-radius: 30px;
}
