@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Euclid Galactic';
    src: url('/fonts/EuclidGalactic-1G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Montserrat"
}