.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: #646464;
}

.swiper-pagination-bullet-active {
  background: #20d795;
  /* Active bullet color */
}

.Shss-slide-item {
  background-color: transparent !important;
  border: none !important;
}

.Shss-progress-bar {
  display: none !important;
}

